{{ define "main" }}
{{ partial "epistemia-top.html" . }}
{{ .Content }}
<hr/>
<script data-isso="/isso"
	data-isso-reply-to-self="true"
        data-isso-require-author="true"
        data-isso-require-email="true"
        src="/isso/js/embed.min.js"></script>

<section id="isso-thread">Discussion</section>

{{ partial "epistemia-bottom.html" . }}
{{ end }}
