{{ define "main" }}
{{ partial "epistemia-top.html" . }}
{{ .Content }}
<hr/>
<!-- h3>Comments</h3-->
{{- $rem := "https://aisis-2021.nucleares.unam.mx/remark42" -}}
{{ if eq site.BaseURL "https://snufkin.nucleares.unam.mx/aisis-2021/" -}}
  {{- $rem = "https://snufkin.nucleares.unam.mx/remark42" -}}
{{- end -}}

<script>
  var remark_config = {
      host: '{{ $rem }}',
      site_id: 'aisis2021',
      components: ['embed'],
  }
</script>

<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>

<div id="remark42"></div>
{{ partial "epistemia-bottom.html" . }}
{{ end }}
