<!DOCTYPE html>
<html lang="{{ .Lang }}" class="no-js">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- block "main" . }}{{- end }}
  {{- partial "bottom-scripts.html" . -}}
</body>
</html>
