{{ define "main" }}
{{ partial "epistemia-top.html" . }}
{{ .Content }}
{{ $contents := "Contributions" }}
{{ with .Params.contents }}{{ $contents = . }}{{ end }}
{{ with .Pages }}
  {{ if $.Content }}<h3>{{ $contents }}</h3>{{ end }}
  <ul>
  {{ range $idx, $pg := . }}
  <li>
    <a href="{{ $pg.RelPermalink }}" tabindex="{{ (add 50 $idx )}}">
      {{- with $pg.Params.speaker }}{{ . }}: {{ end -}}
      {{ $pg.Title -}}
    </a>
  </li>
  {{ end }}
  </ul>
{{ end }}
{{ partial "epistemia-bottom.html" . }}
{{ end }}
