<div id="wrapper" class="grid-container">
  <div class="grid-x grid-margin-x">
    <div id="header" class="cell">
      <img width="1024" src="{{ "/img/aisis2021_banner_v3.jpg" | relURL }}"/>
    </div>
    <div id="header_title" class="cell">
      {{- .Site.Params.header_title -}}
    </div>
    {{ partial "menu.html" . }}
    <div class="cell medium-auto">
      <div id="content" {{ if .Draft }}class="draft" style="background-image: url({{ "img/draft-bg.png" | relURL }})"{{ end }}>
        {{ with .Params.pre_title }}
          <p id="pre-title">{{ . }}</p>
          <p id="main-title">{{ $.Title }}</p>
        {{ else }}
          <p id="title">
            {{- with .Params.speaker }}{{ . }}: {{ end -}}
            {{ .Title -}}
          </p>
        {{ end }}
        <p id="page-dates">{{ .Date.Format "Jan 2, 2006" }} (updated {{ .Lastmod.Format "Jan 2, 2006"}})</p>
        <hr>
