
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/png" sizes="32x32" href="{{ "/ico/favicon-32x32.png" | relURL }}">

<title>{{ .Site.Title }}</title>

<link href="https://fonts.gstatic.com" rel="preconnect" />
<link href="https://fonts.googleapis.com/css2?family=Open%20Sans&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

<link href="{{ "/css/main.css" | relURL }}" rel="stylesheet" type="text/css" />

<script src="{{ "js/jquery.min.js" | relURL }}"></script>
