<div class="top-bar cell show-for-small-only">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#" id="small-menu">Menu</a>
        <ul class="menu nested small-menu-list">
          <li class="{{ if .IsHome }}is-active{{ end }}"><a href="{{ .Site.BaseURL }}" class="small-menu-item">Home</a></li>
          {{ $currentPage := . }}
          {{ range .Site.Home.Pages.ByWeight }}
            <li class="{{ if eq $currentPage . }}is-active{{ end }}"><a href="{{ .RelPermalink }}" class="small-menu-item">{{ partial "title.html" .}}</a>
            </li>
          {{ end }}
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="menu" class="cell medium-3 hide-for-small-only">
<ul>
  <li class="{{ if .IsHome }}current{{ end }}"><a href="{{ .Site.BaseURL }}">Home</a></li>
  {{ $currentPage := . }}
  {{ range .Site.Home.Pages.ByWeight }}
    <li class="{{ if (or (eq $currentPage .) (.IsAncestor $currentPage)) }}current{{ end }}{{ if .Draft }} draft{{ end }}">
      <a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a>
    </li>
      {{- if (and .IsSection (.IsAncestor $currentPage)) }}{{ partial "sublink.html" $currentPage.Parent }}{{ end -}}
  {{ end }}
</ul>
</div>
