<div class="top-bar cell show-for-small-only">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a href="#" id="small-menu">Menu</a>
        <ul class="menu nested small-menu-list">
          <li class="{{ if .IsHome }}is-active{{ end }}"><a href="{{ .Site.BaseURL }}" class="small-menu-item">Home</a></li>
          {{ $currentPage := . }}
          {{ range .Site.Home.Pages.ByWeight }}
            <li class="{{ if eq $currentPage . }}is-active{{ end }}"><a href="{{ .RelPermalink }}" class="small-menu-item">{{ partial "title.html" .}}</a>
              {{ if .Pages }}
              <ul class="menu nested small-menu-list">
                {{ range .Pages.ByWeight }}
                  <li><a href="{{ .RelPermalink }}" class="small-menu-item">{{ partial "title.html" .}}</a>
                    {{ if .Pages }}
                      <ul class="menu nested small-menu-list">
                        {{ range .Pages }}
                          <li><a href="{{ .RelPermalink }}" class="small-menu-item">{{ partial "title.html" .}}</a></li>
                        {{ end }}
                      </ul>
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </li>
    </ul>
  </div>
</div>

<div id="menu" class="cell medium-3 hide-for-small-only">
<ul>
  <li class="{{ if .IsHome }}current{{ end }}"><a href="{{ .Site.BaseURL }}">Home</a></li>
  {{ $currentPage := . }}
  {{ range .Site.Home.Pages.ByWeight }}
    <li class="{{ if eq $currentPage . }}current{{ end }}{{ if .Draft }} draft{{ end }}"
      {{- if .Pages }} data-toggle="toggle-{{ sha1 .RelPermalink }}"{{ end }}>
      <a href="{{ .RelPermalink }}">{{ partial "title.html" .}}</a>
    {{ if .Pages.ByWeight }}
      <div class="dropdown-pane" id="toggle-{{ sha1 .RelPermalink }}" data-dropdown data-hover="true" data-hover-pane="true" data-h-offset="35">
      <ul class="vertical dropdown menu" data-dropdown-menu>
      {{ range .Pages.ByWeight }}
        <li><a href="{{ .RelPermalink }}">{{ partial "title.html" .}}</a>
          {{ if .Pages }}
            <ul class="vertical menu nested">
            {{ range .Pages }}
              <li><a href="{{ .RelPermalink }}">{{ partial "title.html" .}}</a></li>
            {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
      </ul>
      </div>
    {{ end }}
    </li>
  {{ end }}
</ul>
</div>
