{{ if .Parent }}
{{ if not .Parent.IsHome }}
{{ partial "sublink.html" .Parent }}
<li class="sublink current">
  <a href="{{ .RelPermalink }}">{{ partial "title.html" . }}</a>
</li>
{{ end }}
{{ end }}
