$grid-container: 1024px;
$grid-container-padding: 0;

//$offcanvas-fixed-reveal: false;

$dropdownmenu-background: #2A2A2A;
$topbar-background: #2A2A2A;
$topbar-submenu-background: #2A2A2A;
$dropdownmenu-arrow-color: white;

$callout-radius: 5px;
