@use "sass:color";

@import 'settings/settings';   // default settings from foundation-sites
@import 'settings';            // Local changes to settings

@import 'foundation';

@include foundation-everything;

body {
  background-color:#585653;
  margin: 0px;
  overflow-x: hidden;
}

#wrapper {
  background-color:#2A2A2A;
}

#header_title {
  background-color: #D5E45A;
  text-align: center;
  color: #2A2A2A;
  font-family:Open Sans;
  font-size: 24px;
}
#content {
  @include xy-gutters($gutter-position: left right bottom top);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color:#FBFBFB;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 10px;
  border-radius: 5px;

  &.draft {
    background-color: LightYellow;
  }

  #pre-title {
    font-size: 18px;
    margin: 14px 0;
    color: rgb(47, 79, 79);
    font-weight: 500;
  }

  #title, #main-title {
    color:#008080;
    margin: 14px 0;
    font-size: 22px;
    font-weight: 500;
  }

  #main-title {
    text-align: center;
  }

  h2 {
    color: rgb(47, 79, 79);
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    color: rgb(47, 79, 79);
    font-size: 16px;
    font-weight: 500;
  }

}

#menu {
  @include xy-gutters($gutter-position: left right bottom top);

  background-color:transparent;
  color:#ddd;
  font-family:Open Sans;

  ul {
    list-style:none;
  }

  li {
    background-color:#918D88;
    margin-bottom:10px;
    border-radius: 5px;
    text-align:center;

    &:last-of-type {
      margin-bottom: 0;
    }

    &.current {
      //background-color:#615D58;
      background-color: color.adjust(#918D88, $lightness: -25%);

      a{
        font-weight: bold;
      }
    }

    &.sublink {
      font-style: italic;
    }

    &.draft {
      background-color: color.adjust(#918D88, $lightness: +25%);
      a {
        color: color.adjust(#ddd, $lightness: -25%);
      }
    }

    a {
      text-decoration:none;
      font-size:16px;
      color:#FFFFFF;
    }
  }

  div.dropdown-pane {
    padding: 0;
    background-color:#918D88;
  }
}

#small-menu {
  color: white;
}

.small-menu-item {
  color: white;
  background-color: #918D88;
  font-family:Open Sans;
  margin: 10px;
  border-radius: 5px;
}

.small-menu-list {
  padding-bottom: 10px;
 }

#footer {
  background-color:#FFFFFF;
  border-radius: 5px;
  padding-top: 10px;

  p {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
  }
}

#page-dates {
  margin-top: -8px;
  margin-bottom: -18px;
  font-size: 10px;
}

p.time {
  font-weight: normal;
  font-style: italic;
}

#timetable {
  tbody, thead {
    th, td, tr {
      border: 1px solid black;
    }
  }

  .special {
    background-color: LightPink;
  }

  .session {
    background-color: Bisque;
  }

  .keynote {
    background-color: LightSteelBlue;
  }

  .break {
    background-color: LightGreen;
  }

  small.time {
    font-weight: normal;
  }
}
