{{ $date := (time (.Get 0) "UTC").Unix }}
{{ $end := add (add $date (mul (.Get 1) 3600)) (mul (.Get 2) 60 ) }}
<small class="time" data-tooltip id="time-{{ $date }}" data-tip-text="TBD">
  {{ time.Format "15:04" (time $date).UTC }} - {{ time.Format "15:04" (time $end).UTC }}
</small>

<script type="text/javascript">
  {
    let date = new Date({{ $date }} * 1000);
    $("small#time-{{ $date }}").attr("data-tip-text", date.toString());
  }
</script>
