{{ $date := (time (.Get 0) "UTC").Unix }}
{{ $end := add (add $date (mul (.Get 1) 3600)) (mul (.Get 2) 60 ) }}
<p class="top time" data-tooltip tabindex="1" id="time-{{ $date }}" data-tip-text="TBD">
  {{ time.Format "Monday, January 2, 2006" (time $date).UTC }}
  {{ time.Format "15:04" (time $date).UTC }} - {{ time.Format "15:04 MST" (time $end).UTC }}
  (<a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=AISIS+2021{{with .Get 3}}+{{ . }}{{ end }}&iso={{ .Get 0 }}&ah={{ .Get 1 }}&am={{ .Get 2 }}" tabindex="2">click for other timezones</a>)
</p>

<script type="text/javascript">
  {
    let date = new Date({{ $date }} * 1000);
    $("p#time-{{ $date }}").attr("data-tip-text", date.toString());
  }
</script>
