{{- $img := resources.Get (print "/img/" (.Get "src")) }}
{{- $link := relURL $img }}
{{- with .Get "link" }}{{ $link = . }}{{ end }}
{{- with .Page.Resources.GetMatch (.Get "src") }}
  {{ $img = . }}
{{ end }}
{{- with .Page.Resources.GetMatch (.Get "link") }}
  {{ $link = . }}
{{ end }}
{{- $title := .Get "src" }}
{{- with .Get "title" }}{{ $title = . }}{{ end }}
{{- $width := 200 }}
{{- with .Get "width" }}{{ $width = . }}{{ end }}
<div class="card" style="width: {{ $width }}px;">
  <div class="card-divider">
    <a href="{{ $link }}">{{ $title }}</a>
  </div>
    <a href="{{ $link }}">
      <img src="{{ ($img.Resize (print $width "x")).RelPermalink }}">
    </a>
</div>
